PORT=3000
NODE_ENV=development

DATABASE_URL="mysql://USER:PASSWORD@localhost:3306/crowdfunding"

REDIS_URL=
OTP_SECRET=

IMAGEKIT_PUBLIC_KEY=public_xxxxxxxxx
IMAGEKIT_SECRET_KEY=private_xxxxxxxxx
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your_id
